---
import placeholder from '../public/manonroof.jpg';
---

<div class="w-full inline-grid grid-cols-2 max-h-full">
    <section class="py-10 col-span-1 justify-self-center w-3/5">
    <br>
    <h1 class="font-bold text-5xl underline decoration-2">Our Services</h1>
    <br>
    <h1 class="text-3xl">Service #1</h1>
    <br>
    <div class="text-lg">This service is very nice and great and respectable we work very hard to deliver what you want and provide the services to achieve peak customagsdFsdfsdFsdfsder satisfaction</div>
    <br>
    <h1 class="text-3xl">Service #2</h1>
    <br>
    <div class="text-lg">This service is very nice and great and respectable we work very hard to deliver what you want and provide the services to achieve peak customsdfgSDFdfSDFSDFDAFSDFer satisfaction</div>
    <br>
    <h1 class="text-3xl">Service #3</h1>
    <br>
    <div class="text-lg">This service is very nice and great and respectable we work very hard to deliver what you want and provide the services to achieve peaksdafsadfsdafsdffgaafdhagdfhta customer satisfaction</div>
    </section>
    <section class="rounded-l-lg bg-slate-400">
        <br>
        <img class="rounded-lg p-10" src={placeholder} alt="A man sitting at a desk using a computer.">
    </section>
</div>